* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  @extend %font-primary;
  @include font($size: 2rem, $height: 2.4rem);
}

h1, h2 {
  @extend %font-primary;
  @include font($size: 8.8rem, $height: 8.8rem, $weight: 700);
  color: $color-primary;
  letter-spacing: -2.5px;
  margin: 0;
}

h3 {
  @extend %font-primary;
  @include font($size: 4.8rem, $height: 5.6rem, $weight: 700);
  color: $color-primary;
  letter-spacing: -1.5px;
  margin: 0;
}

p, span {
  margin: 0;
}