.contacts {
  padding-top: 8.4rem;
  padding-bottom: 9.2rem;
  border-bottom: solid 0.1rem $color-primary;
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  max-width: 44.5rem;
}

.formlines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 44.5rem;
  gap: 3rem;
}